aiofiles==23.2.1
aiogram==3.22.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiomultiprocess==0.9.1
aiosignal==1.3.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.6.2.post1
async-timeout==5.0.1
attrs==24.2.0
auto-py-to-exe==2.44.2
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
bottle==0.13.1
bottle-websocket==0.2.9
browser-cookie3==0.19.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.1.1
cloudscraper==1.2.71
colorama==0.4.6
contourpy==1.3.3
crypto==1.4.1
cryptography==43.0.1
cryptopay==0.1.3
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
dask==2025.3.0
deep-translator==1.11.4
discord==2.3.2
discord.py==2.4.0
dnspython==2.6.1
Eel==0.17.0
ExifRead==3.0.0
fade==0.0.9
fake-useragent==2.0.3
Faker==30.3.0
fastapi==0.115.2
Flask==3.0.3
fonttools==4.60.1
fpdf==1.7.2
frozenlist==1.4.1
fsspec==2025.3.0
future==1.0.0
gevent==24.10.1
gevent-websocket==0.10.1
GPUtil==1.4.0
greenlet==3.1.1
h11==0.14.0
httpagentparser==1.9.5
httpcore==0.17.3
httpx==0.24.1
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
keyboard==0.13.5
kiwisolver==1.4.9
locket==1.0.0
lz4==4.3.3
magic-filter==1.0.12
markdown-it-py==3.0.0
MarkupSafe==3.0.1
matplotlib==3.10.7
mdurl==0.1.2
MouseInfo==0.1.3
mplcursors==0.7
multidict==6.0.5
Naked==0.1.32
networkx==3.5
numpy==2.1.0
opencv-python==4.10.0.84
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
partd==1.4.2
pefile==2024.8.26
phonenumbers==8.13.45
piexif==1.1.3
pillow==10.4.0
playwright==1.49.1
psutil==6.0.0
pyaes==1.6.1
pyarrow==19.0.1
pyasn1==0.6.0
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pyee==12.0.0
pyfiglet==1.0.2
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyMsgBox==1.0.9
pyodbc==5.2.0
pyparsing==3.1.4
pyperclip==1.9.0
pypiwin32==223
pypng==0.20220715.0
PyQRCode==1.2.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6_sip==13.10.2
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
PyRect==0.2.0
PyScreeze==1.0.1
pyshorteners==1.0.1
PySocks==1.7.1
pystyle==2.9
pyTelegramBotAPI==4.22.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-telegram-bot==20.3
pythonping==1.1.4
pytweening==1.2.0
pytz==2024.1
PyYAML==6.0.2
pyzipper==0.3.6
query==0.1.4
RapidFuzz==3.12.2
rarfile==4.2
redis==7.0.1
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rsa==4.9
screeninfo==0.8.1
selenium==4.25.0
setuptools==75.0.0
shellescape==3.8.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.34
starlette==0.40.0
tabulate==0.9.0
telebot==0.0.5
telegram==0.0.1
Telethon==1.36.0
tk==0.1.0
toolz==1.0.0
tqdm==4.67.1
trio==0.26.2
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.1
ua-parser==1.0.0
ua-parser-builtins==0.18.0.post1
urllib3==2.2.2
uvicorn==0.32.0
validators==0.34.0
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.0.4
whichcraft==0.6.1
whois==1.20240129.2
WMI==1.5.1
wsproto==1.2.0
yarl==1.10.0
zope.event==5.0
zope.interface==7.1.0
